__mocks__/
.git/
.github/
.vscode/
coverage/
dist/
e2e/
node_modules/
.editorconfig
.env
.eslintrc.json
.gitignore
.keystore
.migrate
.prettierrc
.release-it.json
*.md
docker-compose.yml
*jest.config.ts
LICENSE
renovate.json

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
