name: lint

on:
  push:
    branches:
      - 'master'
      - '*.*.*'
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - 'master'
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        cache: yarn

    - name: Install dependencies
      run: yarn install --immutable

    - name: Lint
      run: yarn lint
